body {
    font-family: Red Hat Display;
    background-color: #082032;
    color:white;
}

.name {
    color: #B2F9FC;
}

.name:hover {
    text-shadow: 0 0 3px blue; 
}

.title {
    font-family: Roboto Slab;
    height: 100vh;
    font-size: 90px;
    color: springgreen;
    text-shadow: 0 0 10px darkgreen, 0 0 10px darkgreen;
    z-index:1;

    display:grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}

.item {
    border: 1px solid red;
}

.content-card {
    background: #334756;
    border-radius: 10px;
    z-index: 10;
    transition: background 0.5s;
}

.content-card:hover {
    box-shadow: 0 0 5px white;
    background: #082032;

}

.img-content {
    border-radius: 30px;
}

.footer {
    background: black;
    color:white;
    box-shadow: 0 -5px 30px white;
}

.chart {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:0;
}

canvas {
    z-index: 0;
}