body {
    font-family: Red Hat Display;
    background-color: #082032;
    color:white;
}

.name {
    color: #B2F9FC;
}

.name:hover {
    text-shadow: 0 0 3px blue; 
}

.title {
    font-family: Roboto Slab;
    height: 100vh;
    font-size: 90px;
    color: springgreen;
    text-shadow: 0 0 10px darkgreen, 0 0 10px darkgreen;
    z-index:-1;
}

.title-text {
    position: absolute;
    transition: top 0.3s linear;
}

.content-card {
    background: #334756;
    border-radius: 10px;
    z-index: 10;
    transition: background 0.5s;
}

.content-card:hover {
    box-shadow: 0 0 5px white;
    background: #082032;

}

.img-content {
    border-radius: 3z0px;
}

.text {
    color: white;
}

.footer {
    background: black;
    color:white;
    box-shadow: 0 -5px 30px white;
}