body {
    font-family: Red Hat Display;
    background-color: #082032;
    color:white;
}

html {
    overflow: scroll;
}

.name {
    color: #B2F9FC;
}

.title {
    font-family: Roboto Slab;
    height: 100vh;
    font-size: 90px;
    color: springgreen;
    text-shadow: 0 0 10px darkgreen, 0 0 10px darkgreen;
}

.content-card {
    background: #334756;
    border-radius: 10px;
    z-index: 10;
}

.img-content {
    border-radius: 30px;
}

.footer {
    background: black;
    color:white;
    box-shadow: 0 -5px 30px white;
}
